@charset "utf-8";

/*------ Breakpoints ------*/
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

/*------ Colors ------*/
$primary: #ff6d03;
$body-color: #1A202C;
$c-blue: #2971F0;
$c-green: #48BB78;
$c-yellow: #FFB700;